<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="com.limelight.unofficial.permission.READ_SAVED_HOSTS" />
    <uses-permission android:name="com.limelight.unofficial.permission.READ_STREAM_STATUS" />
    <uses-permission android:name="com.limelight.unofficial.permission.READ_SAVED_APPS" />
    <uses-permission android:name="com.limelight.unofficial.permission.CONTROL_STREAM" />
    <uses-permission android:name="com.limelight.permission.READ_SAVED_HOSTS" />
    <uses-permission android:name="com.limelight.permission.READ_STREAM_STATUS" />
    <uses-permission android:name="com.limelight.permission.READ_SAVED_APPS" />
    <uses-permission android:name="com.limelight.permission.CONTROL_STREAM" />
    <uses-permission android:name="com.limelight.debug.permission.READ_SAVED_HOSTS" />
    <uses-permission android:name="com.limelight.debug.permission.READ_STREAM_STATUS" />
    <uses-permission android:name="com.limelight.debug.permission.READ_SAVED_APPS" />
    <uses-permission android:name="com.limelight.debug.permission.CONTROL_STREAM" />

    <uses-feature android:name="android.software.leanback" android:required="true" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.hardware.gamepad" android:required="false" />

    <queries>
        <provider android:authorities="hosts.com.limelight.unofficial" />
        <provider android:authorities="hosts.com.limelight" />
        <provider android:authorities="hosts.com.limelight.debug" />
        <provider android:authorities="streamstatus.com.limelight.unofficial" />
        <provider android:authorities="streamstatus.com.limelight" />
        <provider android:authorities="streamstatus.com.limelight.debug" />
        <provider android:authorities="apps.com.limelight.unofficial" />
        <provider android:authorities="apps.com.limelight" />
        <provider android:authorities="apps.com.limelight.debug" />
        <package android:name="com.limelight.unofficial" />
        <package android:name="com.limelight" />
        <package android:name="com.limelight.debug" />
    </queries>

    <application
        android:allowBackup="false"
        android:appCategory="game"
        android:banner="@drawable/launcher_banner"
        android:icon="@drawable/launcher_icon"
        android:isGame="true"
        android:label="Wake &amp; Play"
        android:theme="@style/LauncherTheme">
        <activity
            android:name=".LauncherActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
